name = "heddobureika-worker"
main = "worker/build/worker/shim.mjs"
compatibility_date = "2026-01-26"
workers_dev = true

[dev]
ip = "127.0.0.1"

[vars]
ROOM_PATH_PREFIX = "/ws/"

[build]
command = "worker-build --release"
cwd = "worker"

[durable_objects]
bindings = [
  { name = "ROOMS", class_name = "Room" },
  { name = "ASSETS", class_name = "AssetStore" },
  { name = "COMMANDS", class_name = "CommandStore" }
]

[[migrations]]
tag = "v1"
new_classes = ["Room"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["AssetStore"]

[[migrations]]
tag = "v3"
new_sqlite_classes = ["CommandStore"]

[env.production]
name = 'heddobureika'
workers_dev = false
routes = [
  { pattern = "sugoijan.dev/heddobureika/ws/*", zone_name = "sugoijan.dev" }
]

[env.production.durable_objects]
bindings = [
  { name = "ROOMS", class_name = "Room" },
  { name = "ASSETS", class_name = "AssetStore" },
  { name = "COMMANDS", class_name = "CommandStore" }
]

[env.production.vars]
ROOM_PATH_PREFIX = "/heddobureika/ws/"
