name = "heddobureika-worker"
main = "worker/build/worker/shim.mjs"
compatibility_date = "2026-01-26"
workers_dev = true

[dev]
port = 8787
host = "0.0.0.0"

[vars]
ROOM_PATH_PREFIX = "/ws/"

[build]
command = "cargo install -q worker-build && worker-build --release"
cwd = "worker"

[durable_objects]
bindings = [{ name = "ROOMS", class_name = "Room" }]

[[migrations]]
tag = "v1"
new_classes = ["Room"]

[env.production]
name = 'heddobureika'
workers_dev = false
routes = [
  { pattern = "sugoijan.dev/heddobureika/ws/*", zone_name = "sugoijan.dev" }
]

[env.production.durable_objects]
bindings = [{ name = "ROOMS", class_name = "Room" }]

[env.production.vars]
ROOM_PATH_PREFIX = "/heddobureika/ws/"
