name = "heddobureika-worker"
main = "worker/build/worker/shim.mjs"
compatibility_date = "2026-01-26"
workers_dev = true

[build]
command = "worker-build --release"
cwd = "worker"

[durable_objects]
bindings = [{ name = "ROOMS", class_name = "Room" }]

[[migrations]]
tag = "v1"
new_classes = ["Room"]
